/*FONT*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*COLORES*/

:root{
    --primary-color: #17C3B2; /*Para acentos y botones*/
    --color-background: #0F3460; /*Fondo principal*/
    --color-question: #1454a3; /*Color fondo pregunta*/
    --color-btn-question: #1a3a6b; /*Color fondo preguntas*/
    --color-btn-hover-primary: #0d7066; /*Hover pantalla bienvenida*/
    --color-btn-hover-secondary: #416aa8; /*Hover pantalla preguntas*/
    --wrong-color: #F44336; /*Pregunta fallida*/
    --correct-color: #4CAF50; /*Pregunta acertada*/
    --text-color: #F0F0F0; /*Color textos*/
    --font-main: 'Poppins', sans-serif; /*Font principal*/

    /*Mas colores*/
}

/*RESET BÁSICO*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*ESTILOS BÁSICOS*/

body{
    height: 100vh;
    background: var(--color-background);
    font-family: var(--font-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*WELCOME SCREEN*/

.welcome-container{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    gap: 1.5rem;
}

.title-quiz{
    font-size: 3rem;
    text-align: center;
}

.img-quiz{
    max-width: 550px;
    width: 100%;
}

.description-quiz{
    text-align: center;
}

.btn-quiz{
    padding: 2rem;
    background: var(--primary-color);
    color: var(--text-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-quiz:hover{
    background-color: var(--color-btn-hover-primary);
}



/*QUESTION SCREEN*/

#question-screen{
    display: none;
}

.question-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 2.5rem;
    background: var(--color-question);
    gap: 1.5rem;
}

.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.8rem;
}

.number-questions{
    color: var(--text-color);
    font-weight: bold;
}

.question-title{
    color: var(--text-color);
    font-size: 1.7rem;
}

.btn-question{
    width: 100%;
    border: 3px solid var(--primary-color);
    background: var(--color-btn-question);
    color: var(--text-color);
    padding: 0.8rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-question:hover{
    background-color: var(--color-btn-hover-secondary);
}

#status-answer{
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-next{
    padding: 1.8rem;
    background: var(--primary-color);
    color: var(--text-color);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-next:hover{
    background-color: var(--color-btn-hover-primary);
}


/*RESPUESTA CORRECTA E INCORRECTA*/

.correct{
    color: white;
    background-color: var(--correct-color);
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.incorrect{
    color: white;
    background-color: var(--wrong-color);
    padding: 0.5rem 1rem;
    border-radius: 8px;
}


/*RESULT SCREEN*/

#result-screen{
    display: none;
}

.result-screen-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    gap: 1rem;
}

.result-title{
    font-size: 3rem;
}

#total-result{
    width: 100%;
    text-align: center;
}

.btn-play-again, .btn-home{
    margin: 1rem;
    padding: 1.8rem;
    background: var(--primary-color);
    color: var(--text-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}


.btn-play-again:hover{
    background-color: var(--color-btn-hover-primary);
}

.btn-home:hover{
    background-color: var(--color-btn-hover-primary);
}