/*FONT*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*COLORES*/

:root{
    --primary-color: #17C3B2; /*Para acentos y botones*/
    --color-background: #0F3460; /*Fondo principal*/
    --wrong-color: #F44336; /*Pregunta fallida*/
    --correct-color: #4CAF50; /*Pregunta acertada*/
    --text-color: #F0F0F0; /*Color textos*/
    --font-main: 'Poppins', sans-serif; /*Font principal*/

    /*Mas colores*/
}

/*RESET BÁSICO*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*ESTILOS BÁSICOS*/

body{
    height: 100vh;
    background: var(--color-background);
    font-family: var(--font-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*WELCOME SCREEN*/

.welcome-container{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    gap: 1.5rem;
}

.title-quiz{
    font-size: 3rem;
    text-align: center;
}

.img-quiz{
    max-width: 550px;
    width: 100%;
}

.description-quiz{
    text-align: center;
}

.btn-quiz{
    padding: 2rem;
    background: var(--primary-color);
    color: var(--text-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-quiz:hover{
    background-color: #0d7066;
}


/*QUESTION SCREEN*/

#question-screen{
    /*display: none; Activar despues*/
    background-color: var(--color-background);
}

.question-container{
    border-radius: 20px;
    padding: 2.5rem;
}

.btn-question{
    width: 100%;
    border: 3px solid var(--primary-color);
    background: transparent;
}

/*RESULT SCREEN*/

#result-screen{
    display: none;
}
